.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    &.row-centered {
        align-items: center;
    }
}