.create {
    overflow: auto;
    border: 1px solid#eee !important;

    .ctrl-btn {
        text-align: right;
    }

    .badge {
        padding: 3px 15px;
        display: inline-block;
        border-radius: 3px;
        height: fit-content;
        margin: 10px 0;
        font-family: 'Nunito Sans';
        font-size: 12px;
        margin-left: 25px;
        color: #fff;
    }

    .form-input {
        display: flex;
        width: 100%;
    }

    textarea {
        border: none;
        background: transparent;
        display: inline-block;
        font-size: 1rem;
        outline: none;
        font-family: 'Nunito Sans';
        resize: none;
        position: relative;
        font-weight: 400;
        width: 90%;
    }

    .form-group {
        position: relative;
        width: 100%;
        padding: 12px 0;
        padding-bottom: 5px;
        transition: all .35s ease;

        &.active {
            background: #f4f4f4;

            .add-btn {
                display: flex;
            }
        }

        &:focus {
            background: red;
        }

        .form-control {
            flex: 1;
            margin: 10px 25px;
            margin-left: 15px;
        }
    }

    .add-btn {
        position: absolute;
        bottom: 0px;
        transform: translate(-50%, 50%);
        z-index: 9;
        width: 35px;
        left: 50%;
        height: 35px;
        background: #fff;
        box-shadow: 0 2px 5px rgba(#ddd, .6);
        border-radius: 50px;
        display: flex;
        justify-content: center;
        display: none;
        align-items: center;
    }

    .delete-btn {
        padding: 3px;
        transition: all .24s;
        border-radius: 4px;

        path {
            transition: all .24s;
        }

        &:hover {
            background: #ddd;

            path {
                fill: #ff6969 !important;
            }
        }
    }

}
#save{
    position: fixed;
    bottom: 0;
    margin: 0 0 20px 25px;
}