#dashboard {
    display: grid;
    grid-template-areas: "header header""navbar workspace";
    grid-template-columns: 4rem 1fr;
    grid-template-rows: 4rem 1fr;
    height: 100%;
    position: relative;

    #change_theme {
        position: absolute;
        top: 25px;
        right: 50px;
        color: #555;
        padding: 6px 10px;
        font-size: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Nunito Sans';
        border-radius: 3px;
        background: #fff;
        box-shadow: 0 0 5px rgba(100, 100, 100, .35);

        svg {
            margin-right: 0px;
        }
    }
}

#template-list {
    grid-area: workspace;
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    overflow: hidden;
    position: relative;

    .container {
        ul {
            margin: 15px;
        }
    }

    .create {
        border-right: 1px solid#eee;
    }
}

#preview {
    display: none;
    position: fixed;
    top: 5rem;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 0 5px rgba(100, 100, 100, .35);
    padding: 10px 15px;
    background: #fff;
    outline: none;
    border: none;
    border-radius: 20px;
    color: #444;
    cursor: pointer;
    z-index: 999;
    animation: dropdown .25s ease-in-out;
    transition: all .25s ease;

    &:active {
        transform: translateX(-50%) scale(0.9);
    }
}

@keyframes dropdown {
    from {
        opacity: 0;
        transform: translateX(-50%) translateY(-50%);
    }

    to {
        transform: translateX(-50%);
        opacity: 1;
    }
}

@-webkit-keyframes dropdown {
    from {
        opacity: 0;
        transform: translateX(-50%) translateY(-50%);
    }

    to {
        transform: translateX(-50%);
        opacity: 1;
    }
}

@-moz-keyframes dropdown {
    from {
        opacity: 0;
        transform: translateX(-50%) translateY(-50%);
    }

    to {
        transform: translateX(-50%);
        opacity: 1;
    }
}

@media only screen and (max-width:950px) {
    #template-list {
        grid-area: workspace;
        display: grid;
        grid-template-columns: 1fr;
        overflow: hidden;
        position: relative;
    }

    #dashboard {
        #change_theme {
            display: none;
        }
    }

    #preview {
        display: block;
    }
}

@media only screen and (max-width:768px) {

    #dashboard {
        grid-template-areas:
            "header header"
            "workspace workspace"
            "navbar navbar";
        grid-template-columns: 1fr;
        height: 100%;
        position: relative;
    }

    nav {
        grid-area: navbar;
        border-right: 1px solid #eee;
        position: fixed;
        height: 3.5rem;
        width: 250px;
        border-radius: 10px;
        background: #fff;
        left: 50%;
        transform: translateX(-50%);
        box-shadow: 0 1px 7px #22222244;
        top: auto;
        bottom: 13px;
        z-index: 99;

        ul {
            margin: auto;
            display: flex;
            justify-content: space-between;
            height: 100%;
            margin: 0 20px;
            width: auto;

            li {
                display: flex;
            }
        }
    }
}